.AlloyClipWapper{
    border: 1px solid rgba(177, 172, 172, 0.43);
    box-shadow: 0 0 3px 2px rgba(213, 213, 213, 0.74);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: -webkit-box;
    display: box;
}
.AlloyClipLeftWrapper{
    box-flex: 1;
    -webkit-box-flex: 3;
    min-width: 200px;
    display: -webkit-box;
    display: box;
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    text-align:center;
    position: relative;
    border-right: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 3px 0 10px -5px rgb(126, 126, 126);
}
.AlloyClipLeft{
    box-flex: 1;
    -webkit-box-flex: 3;
    min-width: 200px;
    display: -webkit-box;
    display: box;
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    text-align:center;
    position: relative;
    overflow: hidden;
}
.AlloyClipOptionWrapper{
    border-bottom-left-radius: 4px;
}
.AlloyClipRight{
    width: 200px;
    text-align:center;
    padding-top: 20px;
    position: relative;
    height: 100%;
}
.AlloyClipRight canvas{
    box-shadow: 0 0 3px 0 rgb(125, 125, 125);
}
.AlloyClipButton{
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
    font: bold 1.5em 'Trebuchet MS',Arial, Helvetica;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid #9c9c9c;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    padding: 0;
    cursor: pointer;
    background: #f09c15;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8c939), to(#f09c15) );
    background: -moz-linear-gradient(-90deg, #f8c939, #f09c15);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f8c939', EndColorStr='#f09c15');
}
.AlloyClipButton:before{
    content: "上传";
    min-width: 90px;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
    font-size: 22px;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
    font-family: Microsoft Yahei;
    font-weight: 100;
}
.AlloyClipButton:hover{
    background: #D4A922;
    background: -moz-linear-gradient(40% 51% 90deg,#D4A922, #EBC41F, #EDD670 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 65%, from(#EDD670), to(#D4A922), color-stop(.2,#EBC41F));
}
.AlloyClipButtonTop{
    -webkit-box-flex: 1;
}
.AlloyCanvasWrapper{
    padding: 0;
}
.AlloyCanvasWrapper img{
    margin: 0;
}
.AlloyClipOptionWrapper{
    height: 100px;
}
.AlloyClipRect{
    position: absolute;
    background: red;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 10;
    border:1px dashed rgb(172, 172, 73);
}
.AlloyClipControl{
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(238, 229, 166);
    border-radius: 10px;
}
.AlloyClipMask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 9;
    display: none;
    border-top-left-radius: 4px;
}
.AlloyClipRightTitle{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(92, 92, 92);
    font-family: Microsoft Yahei;
}
.AlloyClipRightInfo{
    color: rgb(92, 92, 92);
    font-family: Microsoft Yahei;
}
.AlloyClipConfim{
    position: absolute;
    bottom: 20px;
    line-height: 35px;
    left: 0;
    background: rgb(87, 189, 214);
    text-align: center;
    width: 100%;
    height: 35px;
    color: white;
    font-size: 16px;
    font-family: Microsoft Yahei;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    display: none;
}
.AlloyClipConfim:hover{
    background: rgb(85, 134, 221);
}
.AlloyClipSwitchPic{
    position: absolute;
    bottom: 70px;
    text-align:center;
    width: 100%;
    color: rgb(102, 102, 112);
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.AlloyClipOptionBar{
    margin: 0;
    height: 30px;
    background: rgb(197, 197, 197);
    line-height: 30px;
    position: relative;
}
.AlloyClipOptionBar ul{
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align:center;
}

.AlloyClipOptionBar ul li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.AlloyClipOptionController{
    position: absolute;
    right: 20px;
    top: 0px;
}
.AlloyClipCItem{
    font-size: 28px;
    font-weight: bold;
    color: rgb(10, 71, 128);
    padding: 3px;
    cursor: pointer;
}
.AlloyClipOptionBar .AlloyClipSwitchPic{
    bottom: auto;
    left: 0;
    top: 0;
    text-align:left;
    padding-left: 10px;
    width: auto;
}
.AlloyClipOptionPW{
    height: 70px;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
}
.AlloyClipFilter{
    list-style: none;
    text-align: left;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: visible;
    margin: 0;
}
.AlloyClipFilter li{
    display: inline-block;
    margin-right: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}
.AlloyClipFilter li:hover{
    box-shadow: 0 0 4px 2px #ccc;
}

.AlloyClipAlter li{
    border: 0px;
    cursor: default;
}
.AlloyClipAlter li:hover{
    box-shadow: none;
}

/* apscrollBar */
.apScrollBarWrapper{
    padding-top: 10px;
    height: 40px;
    display: inline-block;
}
.apBarTitle{
    float: left;
    margin-left: 8px;
    height: 30px;
    line-height: 30px;
}
.apBarContent{
    position: relative;
    float: left;
    margin-left: 22px;
}
.apBarLineLeft, .apBarLineRight{
    display: inline-block;
    height: 4px;
}
.apBarLineLeft{
    width: 100px;
    background: #167efc;
}
.apBarScrollEl{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #fff;
    display: inline-block;
    position: absolute;
    cursor: default;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.apBarLineRight{
    width: 100px;
    background: #b5b5b6;
}
